doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bulma.min.css')
    link(rel='stylesheet', href='/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='/codemirror/addon/hint/show-hint.css')
    link(rel='stylesheet', href='/codemirror/addon/fold/foldgutter.css')
    link(rel='stylesheet', href='/codemirror/addon/dialog/dialog.css')
    link(rel='stylesheet', href='/codemirror/addon/lint/lint.css')
    link(rel='stylesheet', href='/codemirror/theme/monokai.css')
    link(rel='stylesheet', href='/stylesheets/select2.min.css')
    link(rel='stylesheet', href='/stylesheets/style.min.css')
  body
    block content
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/typeahead.jquery.min.js")
    script(src="/codemirror/lib/codemirror.js")
    script(src="/javascripts/formatting.js")
    script(src="/codemirror/addon/search/searchcursor.js")
    script(src="/codemirror/addon/search/search.js")
    script(src="/codemirror/addon/dialog/dialog.js")
    script(src="/codemirror/addon/edit/matchbrackets.js")
    script(src="/codemirror/addon/edit/closebrackets.js")
    script(src="/codemirror/addon/edit/closetag.js")
    script(src="/codemirror/addon/edit/continuelist.js")
    script(src="/codemirror/addon/comment/comment.js")
    script(src="/codemirror/addon/wrap/hardwrap.js")
    script(src="/codemirror/addon/lint/lint.js")
    //- script(src="/codemirror/addon/lint/html-lint.js")
    script(src="/codemirror/addon/fold/foldcode.js")
    script(src="/codemirror/addon/fold/foldgutter.js")
    script(src="/codemirror/addon/fold/brace-fold.js")
    script(src="/codemirror/addon/fold/xml-fold.js")
    script(src="/codemirror/addon/fold/indent-fold.js")
    script(src="/codemirror/addon/fold/comment-fold.js")
    script(src="/codemirror/addon/hint/show-hint.js")
    script(src="/codemirror/addon/hint/xml-hint.js")
    script(src="/codemirror/addon/hint/html-hint.js")
    script(src="/codemirror/mode/htmlmixed/htmlmixed.js")
    script(src="/codemirror/mode/xml/xml.js")
    script(src="/codemirror/mode/clike/clike.js")
    script(src="/codemirror/keymap/sublime.js")
    script(src="/javascripts/select2.min.js")
    script(src="/javascripts/fontawesome.js")
    script(src="/javascripts/main.min.js")
    
